{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock css_files %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/sinisa.jpg" %}" alt="Sinisa - The Author of this Blog!">
            <h2>SINISA'S BLOG</h2>
        </header>
        <p>
            Hi! I'm Sinisa and i love programming in Python and Django!
        </p>
    </section>
    <section id="latest-posts">
        <h2>Visit my profile on social network!</h2>
            <ul>
                <li>
                    <article class="post">
                        <a href="https://www.linkedin.com/in/sestosinisa/">
                            <img src={% static "blog/images/linkedin.png" %} alt="nesto">
                                <div class="post__content">
                                    <h3>LinkedIn</h3>
                                </div>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="post">
                        <a href="https://github.com/ssesto1">
                            <img src={% static "blog/images/github.png" %} alt="nesto">
                                <div class="post__content">
                                    <h3>Github</h3>
                                </div>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="post">
                        <a href="https://www.facebook.com/sinisa.sesto/">
                            <img src={% static "blog/images/facebook.png" %} alt="nesto">
                                <div class="post__content">
                                    <h3>Facebook</h3>
                                </div>
                        </a>
                    </article>
                </li>
            </ul>
                <h2>My latest thoughts</h2>
                    <ul>
                        {% for post in posts %}
                        {% include "blog/includes/post.html" %}
                        {% endfor %}
                    </ul>
    </section>
    
    <section id="about">
        <h2>What i do?</h2>
        <p>
            I love programming and learning new technologies in general!
        </p>
        <p>
            My goal is growing as a developer and if i could help you do the same, i'd be very happy!
        </p>
    </section>
{% endblock content %}